.cate1 {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0px 35px 0px 35px;
}
  
.cate1 img {
  height: 10px;
  margin: 0;
  text-align: center;
}

h4 {
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: 5fr 2fr;
}

.grid2 img {
  width: 100%;
  position: relative;
  z-index: 1;
}

.grid1 p {
  margin-left: 100px;
  margin-bottom: 70px;
}

.grid1 h1 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 60px;
  text-align: left;
  margin-left: 100px;
}

.btn {
  background-color: #304f37;
  box-shadow: white 7px 1px 1px 10px ;
  position: relative;
  z-index: 2;
  border-radius: 0;
}

.cat1 {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
}

h2 {
  background-color: #304f37;
  width: 20%;
  height: 5px;
  margin-left: 550px;
}

.hed {
  margin-bottom: 20px;
  margin-top: 100px;
  font-size: 60px;
}

.part {
  display: flex;
  justify-content: space-evenly;
  margin: 70px;

}

.part p {
  font-size: x-large;
  margin-top: 40px;
  font-weight: 300;
  margin-left: 50px;
  margin-right: 50px; 
}

.part img {
  width: 40%;
}
