.cate1 {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0px 35px 0px 35px;
}
  
.cate1 img {
  height: 10px;
  margin: 0;
  text-align: center;
}

h4 {
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: 5fr 2fr;
}

.grid2 img {
  width: 100%;
  position: relative;
  z-index: 1;
}

.grid1 p {
  margin-left: 100px;
  margin-bottom: 70px;
}

.grid1 h1 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 60px;
  text-align: left;
  margin-left: 100px;
}

.btn {
  background-color: #304f37;
  position: relative;
  z-index: 2;
  border-radius: 5px;
  height: 40px;
  width: 120px;
  padding: 0;
  margin-right: -70px;
  box-shadow: 4px 1px 1px 10px white;
}

.cat1 {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
}

h2 {
  background-color: #304f37;
  width: 20%;
  height: 5px;
  margin-left: 550px;
}

.hed {
  margin-bottom: 20px;
  margin-top: 100px;
  font-size: 60px;
  text-align: center;
}

.part {
  display: flex;
  justify-content: space-evenly;
  margin: 70px;

}

.part p {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  width: 480px;
  height: 313px;
  padding-top: 30px;  
}

.part img {
  width: 500px;
  height: 320px;
  top: 1214px;
  left: 103px;  
}
