.con2 {
  font-family: "Mulish", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.5%;
  width: 1118px;
  height: 90px;
  margin-left: 150px;
  text-align: center; 
}

.con1 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 62px;
  line-height: 74.4px;
  letter-spacing: 0.3%;
  height: 74px;
  top: 734px;
  left: 389px;
  text-align: center;  
}

form {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 500px;
  border: solid lightgrey 1px;
  padding: 50px;
  border-radius: 5px;
  margin: auto;
  height: max-content;
  margin-bottom: 40px;
}

form h5 {
  font-family: "Lora", serif;
font-weight: 700;
font-size: 24px;
line-height: 28.8px;
letter-spacing: 0.5%;
}
 
select {
  width: 60px;
  border: solid lightgrey 1px;
  height: 32px;
  border-radius: 5px;
}

input {
  border: solid lightgrey 1px;
  height: 30px;
  padding-left: 15px;
}

#tel {
  width: 430px;
  margin-left: 58px;
  margin-top: -32px;
  border-left: transparent;
}

#message {
  height: 100px;
  margin-bottom: 50px;
}

label {
  font-family: "Mulish",serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0.5%;
  width: 111px;
  height: 19px; 
}

.inform {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
}

.social {
  background-color: #FFFFFF;
  height: max-content;
  padding: 20px;
  border-radius: 15px;
  box-shadow: #252525 1px 1px 10px 1px;
}

.inform p {
    font-size: x-large;
    margin-left: 15px;
    color: #304F47;
}

.inform h1 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px; 
}

.phone {
  background-color: #FFFFFF;
  height: max-content;
  padding: 20px;
  border-radius: 15px;
  box-shadow: #252525 1px 1px 10px 1px;
}

.phone p {
  font-family: "Podkova", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 17.73px;
  letter-spacing: 0%;
}

.add {
  background-color: #FFFFFF;
  height: max-content;
  padding: 20px;
  border-radius: 15px;
  box-shadow: #252525 1px 1px 10px 1px;
}

.add p {
  font-family: "Podkova", serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0%;
}

.flex {
 display: flex;
 margin-top: 10px;
}

.flex svg{
  height: 40px;
  margin-top: -10px;
}

.flex-1 {
 display: flex;
 margin-top: -20px;
 margin-bottom: 10px;
}

.flex-1 svg{
  height: 40px;
  margin-top: -10px;
}

svg {
  margin-left: 10px;
}
