.hero {
  margin-top: 100px;
}

.hero h1 {
  font-size: 50px;
}

.hero p {
  font-size: 30px;
}

.hero span {
  color: goldenrod;
}

.hero img {
  height: 30px;
}

.change {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.change img {
  height: 40px;
  padding: 10px;
}

.next {
  background-color: goldenrod;
  width: max-content;
}

.pre {
  border: solid goldenrod 1px;
  width: max-content;
}
