.hero, .heroSection {
  margin-top: 100px;
}

.hero h1 {
  font-size: 50px;
  width: 669px;
  font-family: 'Lora';
  font-weight: 700;
  line-height: 74.4px;
  color: #FFFFFF;
  padding-top: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.heroSection h1 {
  font-family: "Lora";
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0.3%;
  text-align: center;
  padding-top: 250px;
  margin-top: 0;
  margin-bottom: 0;
  color: #FFFFFF;
}

.hero p {
  padding-left: 150px;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: white;
  padding-top: 2px;
}

.heroSection p {
  font-family: "Lora";
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.5%;
  color: white;
  padding-top: 2px;
  text-align: center;
}

.hero span {
  color: goldenrod;
}

.heroSection span {
  color: goldenrod;
}

.hero img {
  height: 30px;
}

.heroSection img {
  height: 30px;
}

.change {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.change img {
  height: 40px;
  padding: 10px;
}
