.container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  border: 1px solid #E1E1E1;
  width: 350px;
  height: 584px;
  border-width: 1px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 35px;
  padding-bottom: 20px;
}

.container img {
  width: 350px;
  height: 350px;
  margin-bottom: 20px;
}

.card button {
  color: white;
  margin-top: 20px;
  margin-left: 10px;
}

.card h1 {
  font-family: "lora", serif;
  font-weight: 1000;
  font-size: 24px;
  width: 322px;
  text-align: left;
  margin-bottom: 15px;
  padding-left: 10px;
}

.card p {
  width: 256px;
  height: 100px;
  top: 1666px;
  left: 119px;
  font-family: "Mulish";
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0;
  padding-left: 10px;
}

