.container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  background-color: white;
  width: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: grey 3px 3px 3px 2px;
  margin-bottom: 40px;
}

.container img {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}

.text {
  padding: 0 0 10px 10px;
}

button {
  color: white;
  margin-top: 10px;
}

h1 {
  font-size: 29px;
  margin-bottom: 5px;
}

