* {
  margin: 0;
  padding: 0;
}
  
.footer {
  display: flex;
  justify-content: space-around;
}
  
footer {
  background-color: #304f37;
  color: white;
  padding: 30px;
  }
  
.last {
  margin-left: 260px;
  font-size: larger;
}

footer h1 {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 39px;
  line-height: 46.8px;
  letter-spacing: 0.5%;
}

footer p {
  font-family: "Mulish",;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.5%;
  margin-top: 10px;
}

footer span {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

button {
  background-color: #C7923E;
  border: transparent;
  border-radius: 5px;
  width: max-content;
  font-size: large;
  padding: 15px;
}

.media img {
  height: 50px;
}

#logo {
  height: 80px;
}

button img {
  height: 15px;
}

.images {
  display: flex;
  justify-content: space-around;
}

.list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

ul {
  list-style-type: none;
}

.first {
  margin-top: 15px;
  margin-bottom: 20px;
}

ul li {
  margin-top: 10px;
}

.last {
  margin-top: 50px;
  margin-left: 450px;
  font-weight: bolder;
}

.info {
  font-weight: bolder;
  margin-bottom: 20px;
}

h5 {
  font-weight: bold;
  font-size: large;
  margin-bottom: 30px;
}

input {
  padding-top: 7px;
  padding-bottom: 7px;
  border: transparent;
  border-radius: 5px;
  margin-right: 5px;
  padding-left: 5px;
}
